.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000000;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}