.orderHistory {
  display: flex;
  justify-content: flex-start;
  max-width: 1208px;
  margin: 0 auto;
}

.orderHistory__container {
}

.orderHistory__wrapper {
  display: flex;
  gap: 0 60px;
}

.sidebarLeft {
  display: flex;
  flex-direction: column;
}

.orderHistoryList {
  height: calc(100vh - 128px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 8px 0 0;
  margin: 40px 0 0 0;
}

.orderHistoryList__item:not(:last-child) {
  margin-bottom: 16px;
}
