.burgerconstructor__conteiner {
    width: 600px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burgerconstructor__dropconteiner {
    width: 600px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(76, 76, 255, 1)
}

.burgerconstructor__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 568px;
    list-style: none;
    height: 494px;
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
}

.burgerconstructor__elementswithscroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 568px;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 494px;
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
}

.burgerconstructor__cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: end;
    margin-right: 32px;
}

.burgerconstructor__modalheader {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}