.formelement {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formelement div {
    width: 100%;
}

.formelement svg {
    margin-left: 175px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldset {
    border: none;
    display: grid;
    grid-row: repeat(3, 64px);
    row-gap: 24px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}

.buttonconteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}