.conteiner {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.textgreen {
    color: hsla(180, 100%, 40%, 1)
}

.textwhite {
    color: rgba(242, 242, 243, 1)
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 312px;
}

.dateandcost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: row;
}