.card__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0 24px;
}

.card__listItem {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 208px;
  align-items: center;
  position: relative;
  padding: 0;
}