.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.modal__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}