.form {
    width: 480px;
    height: 478px;
    padding: 0;
    margin-top: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputsfield {
    display: grid;
    row-gap: 24px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    border: none;
}

.inputsfield svg {
    margin-left: 175px;
}

.form div {
    width: 100%;
}

.pagestyle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header {
    text-align: center;
}

.link {
    text-decoration: none;
    color: rgba(76, 76, 255, 1);
}

.registration {
    margin-top: 0;
    margin-bottom: 0;
}

.password {
    margin-top: 0;
    margin-bottom: 0;
}

.redirectmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}