.popup {
  background-color: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 720px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.popup__close {
  position: absolute;
  top: 48px;
  right: 40px;
  width: 24px;
  height: 24px;
  border: none;
  background-size: cover;
  box-sizing: border-box;
}
