.IconIngredient__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 100px;
  border: solid 2px transparent;
  border-radius: 100px;
  background-image: linear-gradient(#131316, #131316),
    linear-gradient(to right, #801ab2, #4c4cff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.IconIngredient__text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
