.modal__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__image {
    width: 480px;
    height: 240px;
}

.modal__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.modal__listelement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__text {
    margin-top: 0;
}