.burgerConstructorList__innerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 10px;
  padding-bottom: 16px;
}

.wrapperConstructorElement {
  width: 100%;
  display: inherit;
  height: 100%;
  border-radius: 44px;
}
