.constructoritem__element {
    width: 568px;
    height: 80px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}