.imageoverlay {
    width: 64px;
    box-sizing: content-box;
    height: 64px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(55deg, rgba(128, 26, 178, 1) 1%, rgba(76, 76, 255, 1) 100%);
    z-index: 6;
}

.image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.imagebox {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border: 1px solid transparent;
    background-color: black;
}

.card {
    display: flex;
    flex-direction: row;
    width: 608px;
    height: 64px;
    justify-content: flex-start;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 52px;
}

.textstyle {
    width: 281px;
}

.cost {
    width: 99px;
    text-align: end;
}